body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.App {
max-width: 100vw;
  text-align: center;
  background: linear-gradient(-30deg, rgb(232, 44, 123), rgb(201, 49, 95), rgb(215, 97, 147), rgb(201, 49, 95));
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
